@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
<div class="row">
    <div class="col-md-4">
        <section>
            <img src="~/img/фото пойдоновой.png" width="250" height="280" />
            <h4>
                <div>Пойдонова Валентина</div>
                <div>Владимировна</div>

            </h4>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <div>
                Добро пожаловат на мой сайт!
            </div>
        </section>
    </div>
</div>